@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
:root {
  --primary: rgba(233, 102, 160, 1);
  --secondary: rgba(101, 84, 175, 1);
  --secondary-variant-1: rgba(149, 117, 222, 1);
  --variant-v1: #374259;
  --dark: rgba(43, 39, 48, 1);
  --dark-variant-1: rgb(65, 53, 67);
  --nav-height: 4rem;
  --black-1: rgba(0, 0, 0, 0.5);
  --primary-variant-1: rgba(241, 212, 229, 1);
  --white: rgba(255, 255, 255, 1);
  --error: rgba(251, 91, 91, 1);
  --overlay: rgba(26, 46, 56, 0.7);
  --nav-z-index: 997;
  --aside-z-index: 999;
  --overlay-z-index: 998;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* global */
a {
  text-decoration: none;
}

ul {
  list-style-position: inside;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: start !important;
}

.justify-center {
 justify-content: center; 
}

.flex-col {
  flex-direction: column;
}

.font-bold {
  font-weight: bold;
}

.gap-4 {
  gap: 1rem 
}

.w-0 {
  width: 0;
}

.w-25 {
  width: 25%;
}

.w-half {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-full {
  width: 100% !important;
}

.relative {
  position: relative;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 100;
}

.text-white {
  color: white
}

.pointer-events-none {
  pointer-events: none;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.app-container {
  min-height: 100vh;
  display: flex;
  background-color: var(--dark);
  background-size: cover;
  background-position: center;
  color: white
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--nav-height);
  background-color: var(--primary);
  filter: drop-shadow(0px 0px 7px var(--primary));
  z-index: var(--nav-z-index);
}

nav.chat-navbar {
  background-color: var(--variant-v1);
  filter: drop-shadow(0px 0px 7px var(--variant-v1));
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: var(--aside-z-index);
}

.animate-show {
  opacity: 100;
}

.animate-hide {
  opacity: 0;
  pointer-events: none;
}

.aside-overlay {
  position: fixed;
  inset: 0;
  background-color: var(--overlay);
}

.sidebar {
  position: relative;
  height: 100%;
  background-color: var(--white);
  z-index: var(--aside-z-index);
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fade-in-right 0.5s ease-out;
  padding: 0 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidebar.show {
  width: 16rem;
}

.sidebar.hide {
  width: 0;
}

.sidebar .header {
  display: flex;
  padding: 2rem 1rem 0.5rem;
  justify-content: center;
  width: 100%;
  color: var(--dark);
}

.search-results {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
  width: 100%;
}

.result-item {
  cursor: pointer;
  background-color: var(--secondary);
  color: white;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  word-wrap: break-word;
  width: 100%;
}

.search-list-item:hover {
  background-color: var(--secondary-variant-1);
}

.chat-list-item {
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
}

.chat-list-item:hover {
  background-color: var(--primary);
}

.chat-list-item .info {
  display: flex;
  flex-direction: column;
}
.chat-list-item .info > span:first-child {
  font-weight: bold;
}

.search-list-item > img {
  height: 35px;
  width: 35px;
  border-radius: 2rem;
  margin-right: 0.5rem;
}

.search-list-item > .info {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.search-list-item > .info > span:nth-child(2) {
  font-size: 0.75rem;
}

/* containers */
.main-container {
  margin: 0 auto;
  height: 100%;
  padding: 0 0.5rem;
  align-items: center;
  display: flex;
}

.nav-container {
  gap: 1rem;
}

.content-container {
  width: 100%;
  padding-top: calc(var(--nav-height) + 2.5rem);
  justify-content: center;
}
.auth-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: var(--dark);
  width: 100%;
  margin-top: 1.5rem;  
}
.card {
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
}

.card--auth-card {
  width: 100%;
}

.card--error-card {
  background-color: var(--error);
  color: var(--white);
}

.chats-page-container {
  display: flex;
  width: 100%;
  gap: 1rem;
  flex-direction: column;
}

.chat-list-container {
  flex-direction: column;
  width: 100%;
  background-color: var(--secondary-variant-1);
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  color: var(--dark);
}

.chat-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0.75rem;
  color: white;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.chat-list-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 1rem 0.75rem;
  gap: 15px;
}

.chat-row {
  cursor: pointer;
  align-items: start;
  flex-direction: column;
  background-color: var(--primary-variant-1);
  padding: 0.75rem;
  width: 100%;
}

.chat-row:hover {
  opacity: 0.75;
}

.auth-container {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  margin-left: auto;
  margin-right: auto;
}

.chat-content-container {
  width: 100%;
  background-color: var(--secondary);
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.chat-content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
}

.chat-content {
  align-items: start;
  width: 100%;
  background-color: var(--white);
  height: 250px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  color: red;
}


/* chat navbar */
.nav-container.chat-container {
  gap: 0;
  padding-right: 2rem;
}
.chat-navbar .header {
  flex-grow: 1;
  text-align: center;
  font-size: 1.5rem;
}

.account-options {
  display: flex;
  align-items: center;
  gap: 0 10px;
}

.account-options span:has(svg) {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  color: white;
}

.account-options span:has(svg):hover {
  color: var(--primary);
}

.user-dropdown {
  position: absolute;
  width: 100px;
  background-color: white;
  color: var(--dark);
  padding: 0.25rem 0.5rem 0.75rem 0.75rem;
  border-radius: 0.75rem;
  top: 100%;
  right: 0;
}

.user-dropdown-list {
  list-style: none;
}

.user-dropdown-list > li {
  cursor: pointer;
  margin-top: 0.5rem;
}

.user-dropdown-list > li:hover {
  color: var(--primary);
}

/* modals */
.modal-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 9997;
  background-color: var(--overlay);
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  color: var(--dark);
}

.modal-header > span:first-child {
  flex-grow: 1;
}

.modal-header > .cross {
  cursor: pointer;
}

.modal-header > .cross:hover {
  color: var(--primary);
}



.modal-content {
  position: relative;
  background-color: white;
  width: 100%;
  z-index: 9998;
  max-width: 21rem;
  border-radius: 1rem;
  padding: 1rem 2rem
}

.modal-body {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatar {
  border-radius: 1rem;
  width: 100px;
  height: 100px;
}

.email-address {
  color: var(--dark);
  margin-top: 1rem;
}

/* backgrounds */
.bg-primary {
  background-color: var(--primary);
}
.bg-primary-variant-1 {
  background-color: var(--primary-variant-1);
}
.bg-secondary {
  background-color: var(--secondary);
}
.bg-secondary-variant-1 {
  background-color: var(--secondary-variant-1);
}

.bg-dark {
  background-color: var(--dark);
}
.bg-white {
  background-color: white;
}

.bg-error {
  background-color: var(--error);
}

/* buttons */
.btn {
  border:none;
  border-radius: 2rem;
  padding: 1rem;
  font-weight: bold;
  text-transform: capitalize;
  background-color: transparent;
}

.btn:hover {
  cursor: pointer;
}

.btn:not(.selected):hover {
  opacity: 0.75;
}

.btn--auth {
  width: 50%;
  color: white;
}

.btn--auth.selected {
  background-color: var(--secondary-variant-1);
}

.btn--primary {
  border-radius: 0.75rem;
  background-color: var(--primary);
  color:white;
}

.btn--secondary {
  border-radius: 0.75rem;
  background-color: var(--secondary);
  color:white;
}

.btn--cross {
  position: absolute;
  top: 0;
  right: 2px;
  padding: 0.4rem !important;
  font-size: 1rem;
}

.btn.btn--cross:hover {
  color: var(--primary);
}

.btn--search {
  padding: 0.4rem !important;
  color: white;
}

.btn.btn--search:hover {
  background-color: white;
  color: var(--primary);
  opacity: 1;
}

.btn--search span {
  height: 1rem;
  width: 1rem;
}

.btn.btn--search-user {
  background-color: var(--primary);
  color:white;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
}

.btn.btn--create-group {
  background-color: var(--primary);
  color:white;
  border-radius: 0.5rem;
}

.auth-headers {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--dark-variant-1);
  border: none;
  border-radius: 2rem;
}

/* forms */
.form-input {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.form-input label {
  font-weight: bold;
}
.form-input input[type=text],
.form-input input[type=password]{
  border: 0;
  background-color: var(--dark-variant-1);
  border-radius: 2rem;
  padding: 0.75rem 1rem;
  color: white;
  outline: none;
}

.select-input {
  width: 100%;
}

.form-dropdown {
  position: absolute;
  top: 2.5rem;
  width: 100%;
  min-height: 250px;
  background-color: var(--dark-variant-1);
  border-radius: 1rem;
}

.loader-container {
  top:0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--dark);
  color: var(--primary);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  z-index: 9999;
  opacity: 0.75;
}

.fixed-loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.inside-loader {
  position: absolute;
  height: 100%;
  width: 100%;
}

.loader-container > svg {
  height: 40%;
  max-height: 1.25rem;
  max-width: 80%;
  stroke: transparent;
}

.loader-container circle {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  will-change: transform;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.loader-container circle:nth-child(1) {
  -webkit-animation: circle-1-animation 0.6s infinite;
  animation: circle-1-animation 0.6s infinite;
}
.loader-container circle:nth-child(2) {
  -webkit-animation: circle-2-animation 0.6s infinite;
  animation: circle-2-animation 0.6s infinite;
}
.loader-container circle:nth-child(3) {
  -webkit-animation: circle-2-animation 0.6s infinite;
  animation: circle-2-animation 0.6s infinite;
}
.loader-container circle:nth-child(4) {
  -webkit-animation: circle-3-animation 0.6s infinite;
  animation: circle-3-animation 0.6s infinite;
}

@media only screen and (max-width: 600px) {
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .main-container {
    width: 768px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .main-container {
    padding: 0 1rem;
    width: 100%;
  }
  .nav-container {
    gap: 2rem;
  }
  .content-container {
    padding-top: calc(var(--nav-height) + 2rem)
  }
  .auth-container {
    width: 40%;
  }
  .btn {
    padding: 1rem 2rem;
  }
  .chats-page-container {
    flex-direction: row;
  }
  .chat-list-container {
    width: 25%;
  }
  .chat-content-container {
    width: 75%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .main-container {
    width: 1440px;
  }
}



/* animations */
@-webkit-keyframes circle-1-animation {
  0% {
    -webkit-transform: scale(0.4) translateX(28.57%);
    -ms-transform: scale(0.4) translateX(28.57%);
    transform: scale(0.4) translate(28.57%);
    opacity: 0.3;
  }
  to {
    -webkit-transform: scale(1) translateX(0%);
    -ms-transform: scale(1) translateX(0%);
    transform: scale(1) translate(0);
    opacity: 1;
  }
}
@keyframes circle-1-animation {
  0% {
    -webkit-transform: scale(0.4) translateX(28.57%);
    -ms-transform: scale(0.4) translateX(28.57%);
    transform: scale(0.4) translate(28.57%);
    opacity: 0.3;
  }
  to {
    -webkit-transform: scale(1) translateX(0%);
    -ms-transform: scale(1) translateX(0%);
    transform: scale(1) translate(0);
    opacity: 1;
  }
}
@-webkit-keyframes circle-2-animation {
  0% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translate(0);
  }
  to {
    -webkit-transform: translateX(28.57%);
    -ms-transform: translateX(28.57%);
    transform: translate(28.57%);
  }
}
@keyframes circle-2-animation {
  0% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translate(0);
  }
  to {
    -webkit-transform: translateX(28.57%);
    -ms-transform: translateX(28.57%);
    transform: translate(28.57%);
  }
}
@-webkit-keyframes circle-3-animation {
  0% {
    -webkit-transform: scale(1) translateX(0%);
    -ms-transform: scale(1) translateX(0%);
    transform: scale(1) translate(0);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.4) translateX(-28.57%);
    -ms-transform: scale(0.4) translateX(-28.57%);
    transform: scale(0.4) translate(-28.57%);
    opacity: 0.3;
  }
}
@keyframes circle-3-animation {
  0% {
    -webkit-transform: scale(1) translateX(0%);
    -ms-transform: scale(1) translateX(0%);
    transform: scale(1) translate(0);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.4) translateX(-28.57%);
    -ms-transform: scale(0.4) translateX(-28.57%);
    transform: scale(0.4) translate(-28.57%);
    opacity: 0.3;
  }
}

@keyframes fade-in-down {
  0%{
    opacity: 0;
    transform: translateY(-10px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-right {
  0%{
    opacity: 0;
    transform: translate3d(10px, 0, 0);
  }
  100%{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}